<section id="buy-me-coffee" class="py-20 bg-yellow-400">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="text-xl text-blue-900 mb-8 max-w-2xl mx-auto">
      I built this project in my free time, mostly out of frustration with so-called "free" resume builders that hit you with paywalls when you try to download your resume.
    </p>
    <h2 class="text-3xl md:text-4xl font-bold mb-6">
      This builder is completely free — no hidden fees, no locked features.
    </h2>
    <p class="text-xl text-blue-900 mb-8 max-w-2xl mx-auto">
      If it helped you and you'd like to support my work or help cover server costs, you can buy me a coffee.
    </p>
    <%= image_tag "bmc_qr.webp", class: "w-full max-w-48 mx-auto", alt: "Buy Me a Coffee QR Code", loading: "lazy" %>
    <div class="mt-4">
      <a href="https://www.buymeacoffee.com/codeloopy" class="button bg-white text-black px-4 py-2 rounded-lg hover:bg-yellow-900 hover:text-white transition duration-200 shadow-lg">Buy Me a Coffee</a>
    </div>
    <p class="text-xl text-blue-900 mt-8 max-w-2xl mx-auto">
      And just so you know — I'll never spam you, track you, <br>or sell your data. Promise.
    </p>
  </div>
</section>
