<footer class="bg-gray-900 text-white py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid md:grid-cols-4 gap-8">
        <div>
            <h3 class="text-xl font-bold mb-4">FreeResumeBuilderApp</h3>
            <p class="text-gray-100">Create professional resumes for free. Land your dream job with our ATS-friendly templates.</p>
        </div>
        <div>
            <!-- <h4 class="text-lg font-semibold mb-4">Product</h4>
            <ul class="space-y-2 text-gray-400">
                <li><a href="#templates" class="hover:text-white transition duration-200">Templates</a></li>
                <li><a href="#features" class="hover:text-white transition duration-200">Features</a></li>
                <li><a href="#how-it-works" class="hover:text-white transition duration-200">How It Works</a></li>
            </ul> -->
        </div>
        <div>
            <h4 class="text-lg font-semibold mb-4">Contact</h4>
            <ul class="space-y-2 text-gray-100">
              <li>
                <p class="text-gray-100">Have a question, suggestion, or would like to collaborate? <a href="mailto:freeresumebuilderapp@gmail.com" class="text-white hover:text-gray-300 transition duration-200 underline">Hit me up</a></p>
              </li>
              <li>
                <p class="text-gray-100">Or find me on <a href="https://www.linkedin.com/in/pedrom/" class="text-white hover:text-gray-300 transition duration-200 underline" target="_blank">LinkedIn</a></p>
              </li>
                <!-- <li><a href="#" class="hover:text-white transition duration-200">Help Center</a></li> -->
                <!-- <li><a href="#" class="hover:text-white transition duration-200">Contact Us</a></li> -->
                <!-- <li><a href="#" class="hover:text-white transition duration-200">FAQ</a></li> -->
            </ul>
        </div>
        <div>
            <h4 class="text-lg font-semibold mb-4">Want to help?</h4>
            <ul class="space-y-2 text-gray-400">
                <li>
                  <p class="text-gray-100">I'm a one-man team working on this project in my free time. If you like it, please consider buying me a coffee, but don't feel obligated!</p>
                </li>
                <!-- <li><a href="#" class="hover:text-white transition duration-200">Privacy Policy</a></li>
                <li><a href="#" class="hover:text-white transition duration-200">Terms of Service</a></li> -->
                <!-- how can I insert a buy me link image here? -->
                <li class="mt-4"><a href="https://www.buymeacoffee.com/codeloopy" class="button bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-300 transition duration-200 shadow-lg">Buy Me a Coffee</a></li>
            </ul>
        </div>
      </div>
      <div class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400">
          <p>&copy; <%= Date.today.year %> FreeResumeBuilderApp. All rights reserved.</p>
      </div>
  </div>
</footer>
