<div class="nested-fields mb-2 flex items-start space-x-2" data-new-record="<%= defined?(new_record) ? new_record : false %>">
  <input type="text"
         name="resume[skills_attributes][<%= defined?(index) ? index : 'NEW_RECORD' %>][name]"
         value="<%= defined?(skill_name) ? skill_name : '' %>"
         class="w-full p-2 border border-gray-300 rounded-md"
         placeholder="Enter skill name">
  <a href="#" class="text-red-500" data-action="click->responsibility#remove">&times;</a>
  <input type="hidden" name="resume[skills_attributes][<%= defined?(index) ? index : 'NEW_RECORD' %>][_destroy]" value="0">
  <% if defined?(skill_id) && skill_id %>
    <input type="hidden" name="resume[skills_attributes][<%= index %>][id]" value="<%= skill_id %>">
  <% end %>
</div>
